<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            font-family: Arial, sans-serif;
            color: #333;
        }
        header {
            background-color: #505050;
            color: #fff;
            padding: 15px;
            text-align: center;
            position: sticky;
            top: 0;
            width: 100%;
        }
        .container {
            flex: 1;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            color: #fff;
        }
        .main-content {
            background: #000000; /* Fundo branco para o conteúdo */
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        footer {
            background-color: #595959;
            color: #fff;
            padding: 15px;
            text-align: center;
            width: 100%;
        }
        h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
            color: #ffffff; /* Cor azul */
        }
    </style>
</head>
<body>
    <header>
        <h1>Listagem de músicas e usuários</h1>
    </header>

    <div class="container">
        <div class="main-content">
            <h1>Bem-vindo <%= title %></h1>
            <p>Conteúdo da página vai aqui.</p>
        </div>
    </div>

    <footer>
        <p>&copy; Instagram: @efa.alves</br>
            Whatsapp: (48) 99999-9999
        </p>
    </footer>
</body>
</html>
