<h1>Detalhes do Usuário</h1>
<p>ID: <%= user.id %></p>
<p>Nome: <%= user.nome %></p>
<p>Gênero: <%= user.genero %></p>
<p>Tipo: <%= user.role %></p>
<a href="/users" class="btn btn-primary">Voltar</a>
